@charset "UTF-8";
/* RESET */
* {
  margin: 0px;
  padding: 0px; }

/* SECTIONS */
* {
  margin: 0px;
  padding: 0px; }

.logo {
  max-width: 150px; }

.navbar {
  background-color: black; }

h1 {
  font-size: 20px;
  margin-top: 50px;
  text-align: center; }

.seg {
  margin-top: 90px;
  width: 100%; }

.titulo {
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  width: 90%;
  margin: 20px;
  text-align: center;
  background-color: yellow;
  font-size: small;
  padding: 10px; }

.servicios {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  margin: 30px 20px 30px 20px;
  background-color: rgba(0, 0, 0, 0.438); }
  .servicios .servicios__info {
    padding: 20px;
    text-align: center;
    font-weight: bold; }

a {
  color: black; }

.prestación {
  padding: 50px;
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTExMWFRUXFxcaFxgYGBoYFxgYFxcdGBgdFxgYHSggGBolHRcYITEhJSkrLi4uGB8zODMtNygtLisBCgoKDg0OGxAQGi0lICUtLS4tLy0tMC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tListLS8tLS0tLS0tLS0vLS01Lf/AABEIAL0BCwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAABAAIDBAUGBwj/xAA7EAABAwIEAggFAgUEAwEAAAABAAIRAyEEEjFBUWEFBhMicYGR8AcyobHRQsEUI1Lh8TNDYsIkcsNz/8QAGgEAAgMBAQAAAAAAAAAAAAAAAAECAwQFBv/EADARAAIBAwIFAgQGAwEAAAAAAAABAgMEESExBRITQWFRcSIzwdEygZGx4fAUofFC/9oADAMBAAIRAxEAPwDc679bqeAokyHV3g9kzW+mZwH6AfCYgbx4BjsZUrVDVqOz1HHM5xIudb7abbaclr9MYTpDF1TXq0Kz3v1ik+BsABlgACIj7rrvhx8PXPeMTjaZaxh7lJ4IL3Dd7TcMB2PzeHzcK1p23C7ZznJOXfG7fov75NU3OtLCWhf+GPUe7MZimCYBoUyNBs9wOp/pnx4L1MJFYPXDH4qnRLcHRdVrvkBwAy0xu45rF3Acbmwg+Tr3FTiFxmTSzosvCSNsYqlHQ5z4m9ev4Vpw2Hd/5Dh33D/aaf8A6EacBfgvE6LC9wADi5xAsC5ziTsNzfTddPU+H/Sj3FzsO4ucSSXPpySbkkl9ySvRvht1C/hP/JxLR/EGcjZDhSGkyLF54jQeJXqaVez4ZbPkkpS8NZb+iMTjOrPVYLXw36kDBU+2rAHEvF9+yaf0tP8AVxI8Ba57gifPbZIFcz15w2Nr0uwweRgeD2lRz8py/wBLAATfc8LLyUqs7645qsks93okv4NmFTjhI4H4pdfe1LsHhXfygYq1Af8AUO7Gn+gbn9Xhr570N0ZVxNVtGizO95gbRxJOzQLkldkz4Q48/roDxe/9mL0zqF1OZ0fSMw+s/wD1Kg0/9GTcMHExJvwA9XLiFnYWvJbtSf7v1f8AfBi6U6k8y0LfU/qtS6PodnTAdVcJqVDYvdsJ1awbDa51JW1iK7abC+oQ1rRmc4nutAuSTwClbsPfquR69dWcVjw2kzENpUBBc3KXOe4Xl5kd0Who3udo8lTf+VX5q88ZeW3/AH9DY/gj8KPL/iH1ydj6mSkcuGp5i1pOUvItncDEnWG6gHiVi9T+rFXH1xSp2aINSpHdY3ieLjoG78gCR3I+DZbd2Na3a9G17b1I3hemdW+gaOCoNoURYXc4/M927nHj9hZeor8YtbW26dpq9lo9PLytTJGjOcszJ+heiqWFpMoUWhrGi3Fx3JO7jEyo+sPTVHCUXVqz8gFm2Bc465WA6uMeG5sFo573I5fT1XIdZ+ozce9r61eo0Boy0mANaOJIdPeJNzroNl5a26dWvzXEmlu3u3/00yyo4ijxvrN1mf0hWdVrnK1oPZMb+gfpbMXvq60zyAGz1A6lHHVe0qQ3DtMuLRlNRxhxps4BpMFw0Ft7drT+D2DmTWxBO8Opj/ovQMDgmUabKVJoYxgAa0aAedzxnUlejvOOUKdDp2nttjC8eTNCjJyzMNCkKYDG5W0wGtYxrQA0AaCLRA0i0HXbE67da6eAo5jDqz5FKnOp/qdwYNz4BdEVh9KdUcFiKhq1qAqVDALnPqGwEANGaGjkBGvFeZtZ0eqpV8td0u/+1+ZpknjET536Tx9StUdVqvLnvMucePIbAaADQAL0L4S9Uadc/wAZWLXtY6KdPXvj9VQcBsN9eCi60/DWt/E/+I1vZPiBLgGHLfj3dTrxC7XqN1LOAzudULqlRrGuDYyWdMiRzPgJi69ZxDidB2mKU8NpYS3x3Xgy06T59UdmVwHxM67twbewoEHEvAl2ootOjj/zuco5knYHvJ+v4+qxq/VPAvc578NSe9xJc5zcxJOpJdqV5awqUKdVTrxckuy7vyapqTWInzMHucXTLnPM3u4uJ14k3Pqvcvhl1DGEaMRiGziXDutNxRadv/0I1OwtxnrML1cwdNwfTwtBj2mWuFJgcDsQYkFaRNwNjvbX14Ttt69jiXHncU+lRTinv6vx7FVKhyvMggLyD4kdbqmIJwuFbUNEGKj2tce1I2aQL0xx/UeWvrlR8CYJjYC/DzT5XIsLqFrU6soczW2uMP12LpxclhPB82dG9XcXXqMpMoVZcYBcxzWNGpLnEQALn8ru+rHwtqMrh+LdTdSYZDGFx7QjTNmaIZxGp00XofSPSj6ValTFF721Cc1QNJYwAOdBiTmhtrRxIWm0z7/C613x25lH4UoqS7av+CuFCOddRjnACdhrpAA18I/ZeLfEXp3F45/Y0MPXGGabfy3zVcP1OEWbwafE3sPawTJ0i0XvztFtt0lzbC9jaVOo4KT7Ze38ltSm5rGcHzf0F1Ixles2maFSk0/NUqU3NY1o1MuAk8Buvobq/wBXMNh8PTotYHBgIzOnM4kkknxJJta9laV3D/KPP7rrrjVa6qY/Cktl6lPQjBepnIhBJeYyzeOSQShIQZRCCKQgptWq1jS57g1o1LiABtcmwRNh780Y4pryIKSRCSiIZSpNaDlECXGAIEuMutzJJ5kp+bf9jPokiFJvOrFgcmB3He8WkcdE4oN9/v5KKEHNfS3j+yIKEopAMbTygNbAaBAEfYzpE2/CVF2ovaxBk+hOo5+PNMquJOUEiMpJEW72hDtQ4AjS19DCgweJac4cbtdqSIId8paQbNOgBvIOtiruRtNkS9Ka4mRERvJM+Qi6JCKpJABnb6cv76pybf3+6UoEEBMk7WPPbyHnunIEoQxJBAttAtrfWJ8UQgAJFIlAnkmSCmlOTUwCgEkkDErmH+Uef3VIhXcMO6PP7ro8N+Y/YrqbGcigkRPuPqFhLxwSTSdPqnKIgoE6Wn9t7+90mlAOFrjeP3/ZNCHhFAFA3HvZIBwQY8HQzxS+/qiQgQpRB56INCISEGUHjnGn358dEpTGNJAzG44S2/hmNtbGdkIiSNdKZm70eM39LcNv24OJ5cfdkxrwbSNbxxF4PA6HwTQDgwAkgQTckDXQX4mIULMKAXElzsxBMuJAykloDflaBO2u86qZ7uBE6CeOoTmD3MqXM0hYCQkoqtUCBMFxhtibwTp5H2VLKg0MKBKiDn57wGxbUknWZsABDhF5sZG8pCGsAMqGLzH02J3VZ2LYSbgd1pDiRkJfOW4P/CfTipcZRa9j2ONnNg8pm8e9Fx/StJz6WSi1xHbv1gud2bctwAJAaAATe3JbrWhGru8fQaWTscK6WgkhwNwRuJsfFTSsroDOKZpvMmm8sFo7oAyz5EHwhaiy14ck2gwJApFJVDBCRRQQMSSa51wIN58BHFEKQCV3DfKPP7qkrmG+Uef3XQ4b8x+xXV2M4FGYSSWE0ClEIFwGtkmhIQU4JpCckIAE7yNeXL8pe/8ACGm9tI+yDt411/b9lIRKU2LoNEb+A2EDb+6IJ9/VIQZ9ES3Tkh4pRfySAPP9/wAplEENALsxG8AT48/TyTm8ymhsAAQONuUQ29rxxUl6ETOwOJqWLwWsNNru/d7X5iHh8RcyIgRYxz0BVB7ze8DwMg39EQBJudRxgECbctNLfVHJY3ieAFud91ZUkpPOMEUhxG1/G2yTQdzPlH73THF2aBGXjvPCPDdPJgKkY7Mlr6qOpVgTaADN9I9n0Sq1Q0Zjpx1RysAZrnM2zYIcYMnjEWI/KmlV3kgk5hECx0kEyZF7yLcualm+nOfe6ckBXx9UDK0hpa8w4OIAy5Tm14W47+K5Cn0nUBFDDQ/K9xpui950DrACXXMyDstLru1+RpgFkwbSWu1BnYWI81h9W3hlcOeQ0BriC/ug7WO2/pG67dnRiqDnvvp5RbFaZOpwji4Cq+m4VCGipAFMwC03DjcAg3G0ha7Tr4+vgst2OzNgFwa8lrHskmZtcjuwAZJ8oi16hUytY157xAGs5nBsmDF7Alc6vGT1ax4/voQLCCUpLEMRSSQTGJJJBACV3DfKPP7qir2F+Uef3XS4b8x+xXV2M0jxEeF+SRHv3oimtmTPkOFvyCsJeOA15/iLcNEgkE1hMAkEcjEjkYMW5IEOa2OPhM+icgiEmA5IJpcj9lEQgnSghKBDknOj1H1QJSaDx98PfBAALdfen7ckxtFrf0tHgNyZMW4x4p7gNPHSR43G6MzPL8KWWRwNuRqW31sd53nXRPIE6X4xw/yfUpk30v62m2g4e90GuJmAR4xwBtB5/Q8ingQ7tRrbedNrE/shVqtylxgtAJOkQBzsqz2VC8jMA0kEcYvmbz4ztPgVNSpw0ASIEDciLXJJmYF9bqTilqINKk35hq6C4ie8Y118B4ADZSkaDT8AR6XCia50kGLkZbGYgTP1TxUBMb+9Y8FF5GhREczcXI8uH901zBM323MbaAeHuSnll55Qm1qeYEHQ+GnmknqGCj00xrqLw+YAJtb5b6EgH5Rr5Lla2Op1a1PJTfaBmc5oAbAaDl0GW0QfqV2L6LXBzdMwLTxNoBvYiBKyMD1WpsfLz2l5aCCAI/quZXTta9OnBqbee357kovQdQrMrB9KmOzDXOc3K+7xeD3fll1y3hBi8Kx0hi20Sxzg557jWiJiJzOsIDsvA3jkn4Po3s6jnNjK51miGtAyiTlGp7v3U+Eq5jIqB7RDbROcXJc4RNtgBvqq5zjzZWsfz776gW6NUPaHC4OnrzT01o/zufFIFc+W+gBQJSSKiMSSSSYxK7hvlHn91QJV7DfKPP7ro8N+Y/Yqq7GclKbv7t4W9wE5YjQFDQXOm+iKBZcGTabbGeKSEFk7/n6wEgfrw4bfRNY8HTlqI101TuUbIYhwQYDFzJ9EUpUQEB7+lkXHlw+6UpIIgzbb6/lIukd2N44JpdBM6c9NtPGfolTeCJ43HptwspY7iJIUZIaANrAbeAspUx7Z0MeU23SXkYC4AEuMAHUkAR9k5rRMga6nwSaPP3CMoYsDBRbIMDuiBbQW312CkhAJFyTywwRhroF7iLzrxkCLpsNLg0gyO8Dfa3zaHU2nRTByZlvrYchwhSUvUWB889Nd/ZRTBYQNPSOEQESff4UWhj1DVcB3nHK0CSSYEReeCkngoM3aMOW0ggEiRP8A6nUTsYUoL1Ap43pTDkZKj25XtBvN2u0Nh+Fn062Dosd2byYc1xDHEkxYamI71+P0WRiuiKh7apWOXLOUnRxBgBoN4gQPJDoPBVQ012NY9lw5p1IFzAjWwXbjbUowypPGmVnRv0J4WDr8P0g17wwfqbnaZmRaQR+kiRY8VclZvR3RdGi5xpsgiBmLsxO5Gpy/utNciuoc3wZx5IoAQlJIqgYkEpSTGJXsL8o8/uqCv4X5R5/ddHh3zH7FVXYzZQJPDh+EDwm59fJOWEvCFG90XkxrAHAaCBfjGv2TpB/seCBdIF9fK2p5gwmiLJCUJvr7/P4QpvBEgyEmEGQIsdtjE+Rgj1UcAOTk0idUGkwJF9400+yWAHpSmu8Y5/5RHikA17QQQ4AgiCCJBG4M6i6LWwLCEi7W0x73T5Um2RGkJOEiEYRUcjI3tuI5ek39R9k4i0I6+9wipcwhg8SIv99feycRY7IPmLan3P8AZOBRkABJOSUcjGwh7+iegjIAzKKg3V2XLNyDBJMASYm8BTBQUKOUvkzncXaWFg2B5BWRxhiM/GdF9q4vcczXBsAZmwBJGa9wSRtaBZXOisCKNIUwSYkyQAZJnZWKLY4+7C21gPqjm29+qsnWnKPJnT7BkqPpvbU7jYa45nEEQSLOBaRYkRBB1F1PhsQHiQCIsQRBaeB532kJ1UAtIkibSDBHgVh9LdMOaRRY2HuOVrieetxBmR9dIU4Qdb4Utfp6seDfJSUFGpAALsztzEAnw28FK90CVmlHDwMKAA9+/BQnEckDiDwT5WPBPKvYdxyi3H7rMo1CTdIVXjj6D8LVay5JvK7EJxbEagBAJEnabxppvcgeYThKjYy5Mk3m5PhEcAPzrdPhZ5YJiBjXc+HOOaLTy++viQkEs4966TpxUQCAiXRJ05oBRmtGyEsjJibJabKuMRy+/sqSnUJH3Q4tCJUD4TKQQfy1SAclNpF1XcSNSmi3gE+URaB/zt7/ACkFUcN5IuDYDba40VtrpQ1gABwCPahR1GbpjGyUYQBY8iSQIJtlHE780+lMDTyM3GuvNJzBbuzB9Od902o4NFp3PqZKluLA6rUHPQ7oUXkkzEbQPv8AVQBys0dEnohDHPcPYQ7cqdV61PeP7fhJYe4w0Jk3Ogtt4++Cg7Kp2rnF8tMBjbCNzJ3/AMKbDH7J1VgcdzHBxbex2IlWKWGwKzn96AfEeN5PvdPVavUZ2gBcWu70T3c3GAfmjWdvNSdpDSdYncSY185kKxw0Qy1SEiFWxfR7XthwziZE6i82iPD8qfB3GbLBIEzE+BjhJUwcI1VfNKEvhGZlOqW1Q2DBAIcdAQYInjEH1V7CscGAVCHOvJGmpiB4QhWZeQnUcTTeMzXtcOIIPL8pzlzLRCI6wgqNS4jUKGUo7E0SYc3Wxhj3R5/dY1E94Lawvyjz+63WHzX7FNbYwGEgkz758VZp1J8VWdqfe6Ux+VjayaC6CkAmU3WT1SyIVXqiCpqhsVC8yAeBvp9fupREMUlA3UYRaYKkwLgSCAKUqoAPbKrE7zy85+6nqO+n90ype4U4iGp9N8eCjCKAwWQVFRN0aT9kGjvHzUcbgSuEghVK5k/T3yVlgtBk2gkxJ2kxa6rFSjuITVZoGyrKeholLYCSTOlkiNkC4cUO0HFRwBHTEOjcz5xEx9PVSubwP4Te2CLjoIkH7JvIzONAy7Nfc3OutrmGm1rac03EOcC0tbmaZDmwJiCZuQNYEc1ZxLRJBggxaOP91AazS4svIg6GLnSd+YWqMm9dwRawT5BsRyMfslWiZi8QT4aD6lLCm6a9hCp/9MZYbdsclzFTC1KONa8M7lRwHd0IgZpA0g96/CV01E2CbiaWdpbJExcajff3dWUK3Tk12awxGbjelW9uKEEu3O1xMel1F03iDTouLbE2Eay47fU+Sp9bSxj6VTKC4OuRId3YME6et1l9NdN9oGimS1pBzgiDM2v5bLoULXn5JRWnfPqiaOm6Kf3QO07QtMF29uPNdLhflHn915z1UxNTMWASwXP/ABn8kaeK9Gwvyjz+6sp0ulcyXj6lNbYwqpuVT6RwgrMNNzqjQSCTTcWOidMw2MXHDyVytqUw+PD7rmU5OLTW5e1lYZLhBlAbeAALkk2tcm5PirSqUZzcvrN/7KyFTU3EMrmyLWd2OXu+6ZW1AU4S2QFOffvknSlUbBQCmIs0nW9/dSKvQN1OqpLUQ2qbJUtEnmxQo6I7ARvbCEqV7ZP97DyUSkApU1MaHyPooE+k66bWgFlUyraq1GwVGAgJnbua5rW0y4OmXAtAbGmaTN76A6eCen4c3KszjsGB9WnqVBKsQQ2LnbaTzOirEqKAcwSVZa0RHiqc8pgj6XTn1DMptZHgNUECNSBx1jSTxVbFPeMuSPmGadm7nUeyrBKic3vTAu2Cf1cQPC5U4PD1Anw+vkp6jZCqU3ZTyvxJk6CNxJPhZXCqprDyAxvdF1W6RxhZSL2tkgHXQQN4Uld98o8ztbb3wUVbDipTykSJ0gXtHlrMi9lZTSUk5bZA87qPJBk6mfPiolq9OYdrH5G6AcBuAZzRLhci/DmspetpSUopruTNDojpN1JwE9wnvAz62Er1bAu/lt8F5L0Z0c+s6wOUEZjaw3idTGy9OweLaGNBdEDQzI8VjrdNVsppPDz+pTWTa0M+vr75+myjUuIMXPBRrzy2LySgLqwoqLYCkJUJasTIj8yc4umyjoPBPlMb3P8AY+inn3xTegiF4OpTFYqiyrpp5ALDBlW5VMKxReCFGaESP0KZRKDyBPP35KOm+EktBFlRVm7+qkB3SIsR4/VJaAVk5pugkp4JFh07JPbISBSzjWRdVpMgV0aLoPinVarN3NHmExtObggjUHiCFbjTUZZKpmNDHhyVlzCQAs7G9K4Wi7JWr0qbonK57Wug6GCZhOlCU3iKy/Am0tywT6IReVnVOtmAAj+Ko+TwfstINkAwY1FiNRuNtd1OdKpD8cWvdYCMk9mBmiKTGSY92WF0l15wFCqaT63eZZ+VjnQ7hLQRIvPA24xKlQqVXinFv2WQlJR3eDYdTzQDlNxqJ0vopa+L74YJlwJBAJFuLhYLmG9fcFWcynRqVXVHPGVrab5dxG2om5sNdl2ITrUalHHVi1vhPT8xRnGWzyVMrp0O/Hj/AHUtGmBmHEybn2Fy/wAQ+nsRhKbDRpZmuDw+pBIpkAZZtF5JvwXm3QHXPEUcUK1ao+q0n+Y0wZF7tFgHAnaFvtuFVrmi6sWvC7vH7FVS4jCXKz2/FYbMQdwCJ3g662I5FYdboSlSdncO6YtGYNJkaRcSRtaOGkPV7rzRxlQU6NGvMS4lrAxjeLiHk68rrqljn17WXJPK8eC6E1JZRUoUREAQBwV+hgwWjvH0VDGYynQpOq1XBjGAlzj47cSTAAFySAvPj8aw2Q3By0EwTWAJE2kZDHqtXD7GrdOUksr6ldasoaZPQDcyuc64dbaXR7Wgt7Ss67aYdEN/qeYMCdOMcjG11k6ROGw1as1ocabC4A2BMht48Z8l86dIdIPrVXVapzvcZcTvt5AaADQABauDcOjdNzqfhXb1f2IXdx01iO7PRj8YX7YRvnUJ/wCi73oPF4ivQFXEURSzXbTBJcG7Z5iCeG2/Aea/CPoClXqPxFUZuxc3Iw/LmMw48Yiw43XsYUeLq2oT6NGGGt3l/otRWvPNc0mQMpnWIm/ArievPxBOEeKGHDKlUH+aXSWs4N7pEv3N7aXJtqfEXp6phMJmpQHveKYd/RmaXFwG5tbxleCVHkkkmTqSbytHBuGRrLr1tY9l6+5G6uHD4Y7neUfib0hVe1jGUi5xAa1rHEkmwAGZes9C4auKLf4l7XVTdwY0BrZ/SOMcVxfwh6vUm0BjT3qr3Pa2RZgBIOXmYueFuM+irJxitRVR0aMElF6vGrf2J2ym480nuM7IcV5N10+I1QVuzwNTK1kh1SGu7R3/ABzAjIOO/gtP4wdYKtJrMLT7rarSXuB7xbmLMo4AxfjppM+PldLgvC4OCr1VnOy7e7KLq4afJE7bofrJ0ri6zaNKu5z3f8WBrQNS4htmj3ey9o6MwRpUmsfUdVeB3qjtXHcwLNHAffVY3ULq9SwuFpuZd9Zoc95Fz3ZAHBonTzXSrk8Wu6dSp06UFGK9Ek2/sX0KcoxzJ5ZFisSyjTdUqODGMBLnHQALwvrb18xGJrk0atSjRbIY1j3MJH9T8pu4xpoNOJOh8WOsVWpXdhflpU8hIB+dzmh0u8M0Aea4fo3C9rVp05jO9rZiYzOAmN9V3eD8LjRp9erhtrK8L7mS5ruUuVHWdUMHjMfVyivWbTaQalTtKhyj+kSYLnbL2nAYRtNrabRDWiBJJPiSbknjzKZ0F0TSwtFtGi2GtmSbuc7MWlzjuTl+saAK8DEnguBxO/8A8mpyxWIrZfVmyhS5I5e55f10+IdRtU0cI7IKZIfULA4ucDcNDhAaCCCYveOfBdN9L1cVVNWu7O42HdAAaNA0bDW3Ek6lQ9K43t69SrkDM5z5W6NzCYHvyGi1uonQrMZi20qpOQNL3AauDY7s/pBnUbT4j1lG3o2lLmUcYWr3fnUwSlKpLGdzb+HfUkYlwxFZv8hp7rSP9Vw/+Yi/E24r2PIIiBHCLeiFOk1oDGtDWtENAEAAWAAGgVTpvG9hQq1g3N2bXODSYkgcdl428vKl9WXptFen8nQp01Tj+5jdeOtjMBR2dXfPZM/7vj9I+ptxI8Dx2MfWqOq1Hl73mXOOpKk6X6Uq4mq6tVdme434AbBo2A4Lr/hP1epYrEPfW7zaIY4Mjuuc6YzchExvbaQfXWlrS4bbyqS1eNX9F4OdOpKtPlX5G98Meo0ZcXiW3saNNw04VHDju0efCPUikSua+IXTtTB4M1KQGdzgxpP6C4OOaNyMtgbTx0Pka1erxG5Sfd4S7I6MYKjAw/iH11GGa7D0HD+Id87h/tNOl/6yNOEzwXjLWue4AS5zjAFySToOJJTatUuJc4kkkkkmSSbkknUr1n4P9XaRpfxju9UzOawEWZGpHFxnXZev5aXC7Vyxl/u/ojnNyuKmDa+HvUwYNgq1ROIeL6EUmkfKDudJI8BYSe1JSXnnxW6aq02Nw1M5G1QTUcNS3Nly8gYvx04z5KPU4jc/E9X/AKR0mlRp6djA+JHXP+IJw2HP8hp77x/uOaZEH+gEa7kTpE8h0N0VVxNVtGi3M93kGjdzjs0cfLUgKA4fn9F7n1C6v0sLhab2959Zoe95FzIzBo4NE6eJ3Xp7itS4bbJU1r28v1ZhhF1p5Zb6t9BUsDQFNkuJI7R8d57jaSBo0TYbDzK1a9ZrGue9wa1oJc4mAALklPXj3xf6w1TXODBy0m5S6Deo4gEZuQ2HG/CPMWdvPiFxiT1erfg21Zxowyl7GP1/64Ox1TJTluHYe43QvdpncOPAbA8yuOhS4anmc1ukkCfEwvpboP4e9HsoMY7DsqFsgve0FziHGST+2y9u6tCxjGnjTscrEqjcmf/Z");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto; }
  .prestación .prestación__texto {
    text-align: center; }

.caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 0px 20px; }

.caja1 {
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  width: 90%;
  padding: 20px;
  text-align: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsQias1sArqEwhOjsJyNdR9J7nLpM406b7mw&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover; }

.caja2 {
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCKai0JcCik8Z7AE4WtGi9FsEPVvTGDe_vp3sadDcAY_IItxpDe3ByhpxC151UsDAHtos&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover; }

.caja-texto {
  color: black; }

div h3:hover {
  background-color: white; }

div p:hover {
  background-color: white; }

/*Dispositivos pequeños*/
@media (min-width: 320px) {
  .titulo {
    width: 80%;
    margin: 20px auto 10px auto; }
  .servicios {
    width: 70%;
    margin: 10px auto 20px auto; }
  .prestación {
    height: 350px; }
    .prestación .prestación__texto {
      margin-top: 70px;
      font-size: 35px; } }

/*Dispositivos medianos*/
@media (min-width: 480px) {
  .seg {
    height: 300px; }
  .titulo {
    margin: 40px auto 40px auto;
    font-size: 25px; }
  .prestación {
    margin-top: 60px;
    height: 500px; }
    .prestación .prestación__texto {
      margin-top: 120px; }
  .caja1 {
    margin: 40px 0px 40px 0px;
    width: 80%;
    height: 300px; }
  .caja2 {
    width: 80%;
    height: 300px;
    margin-bottom: 60px; }
  .caja-texto {
    width: 80%;
    margin: auto; } }

/*Dispositivos grandes*/
@media (min-width: 768px) {
  nav {
    height: 120x; }
  .seg {
    margin-top: 90px;
    height: 400px; }
  .prestación {
    margin-top: 60px;
    height: 600px; }
    .prestación .prestación__texto {
      margin-top: 180px; }
  .caja1 {
    height: 400px; }
  .caja2 {
    height: 400px; }
  .caja-texto {
    margin-top: 100px; } }

.cero-accidentes {
  margin-top: 70px;
  width: 100%; }

.titulo1 {
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  width: 90%;
  margin: 30px auto 20px auto;
  text-align: center;
  background-color: yellow;
  font-size: small;
  padding: 10px; }

.como-trabajamos {
  width: 100%;
  padding: 20px 0px 20px 0px; }

.texto {
  width: 80%;
  margin: 20px auto 20px auto;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  padding: 20px;
  background-color: white; }

.logo1 {
  width: 100%; }

/*Dispositivos pequeños*/
@media (min-width: 320px) {
  .titulo1 {
    width: 80%;
    margin: 40px auto 40px auto; }
  .logo1 {
    height: 200px; } }

/*Dispositivos medianos*/
@media (min-width: 480px) {
  .cero-accidentes {
    height: 350px; }
  .titulo1 {
    font-size: 20px; }
  .logo1 {
    height: 300px; } }

/*Dispositivos grandes*/
@media (min-width: 768px) {
  .cero-accidentes {
    height: 400px; }
  .titulo1 {
    width: 80%;
    font-size: 30px; }
  .como__trabajamostexto {
    font-size: 20px; } }

.img-servicios {
  width: 100%;
  margin-top: 80px; }

.titulo2 {
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  width: 90%;
  margin: 20px auto 20px auto;
  text-align: center;
  background-color: yellow;
  font-size: small;
  padding: 10px; }

.titulo-servicio {
  margin: 20px 20px 0px 20px;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: white; }

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6"; }

.area1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-style: double;
  border-radius: 10px;
  border-color: black;
  padding: 20px;
  background-color: white; }

.area2 {
  margin-top: 30px;
  text-align: center;
  border-style: double;
  border-radius: 10px;
  border-color: black;
  padding: 20px;
  background-color: white; }

.area3 {
  margin-top: 10px;
  text-align: center;
  border-style: double;
  border-radius: 10px;
  border-color: black;
  padding: 20px;
  background-color: white; }

.area4 {
  margin-top: 10px;
  text-align: center;
  border-style: double;
  border-radius: 10px;
  border-color: black;
  padding: 20px;
  background-color: white; }
  .area4 .seguridad {
    width: 100%; }

.area5 {
  margin-top: 45px;
  text-align: center;
  border-style: double;
  border-radius: 10px;
  border-color: black;
  padding: 20px;
  background-color: white; }

.area6 {
  margin-top: 45px;
  padding: 20px;
  margin-bottom: 20px;
  height: 300px;
  text-align: center;
  border-style: double;
  border-radius: 10px;
  border-color: black;
  background-color: white; }

/*Dispositivos pequeños*/
@media (min-width: 320px) {
  .titulo2 {
    width: 80%;
    margin: 40px auto 40px auto; }
  .titulo-servicio {
    width: 50%;
    margin: 20px auto 0px auto; }
  .container {
    width: 80%; } }

/*Dispositivos medianos*/
@media (min-width: 480px) {
  .titulo2 {
    font-size: 20px; }
  .titulo-servicio {
    margin-top: 80px;
    font-size: 35px; }
  .area6 {
    margin-bottom: 40px; } }

/*Dispositivos grandes*/
@media (min-width: 768px) {
  .titulo2 {
    font-size: 30px; }
  .fuego {
    margin-top: 40px; } }

.img-contactanos {
  margin-top: 90px;
  width: 100%; }

.titulo3 {
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  width: 90%;
  margin: 20px auto 20px auto;
  text-align: center;
  background-color: yellow;
  font-size: small;
  padding: 10px; }

.formulario {
  background-color: white;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  width: 90%;
  margin: 0px auto 20px auto; }
  .formulario .formulario-info {
    text-align: center;
    margin: 20px 0px 20px 0px; }

input {
  border-width: 2px;
  margin-bottom: 20px; }

textarea {
  border-width: 2px; }

.img-contacto {
  width: 100%; }

/*Dispositivos pequeños*/
@media (min-width: 320px) {
  .titulo3 {
    width: 80%;
    margin: 40px auto 40px auto; }
  .formulario {
    width: 80%;
    padding: 20px; }
  .boton {
    margin: 20px; } }

/*Dispositivos medianos*/
@media (min-width: 480px) {
  .titulo3 {
    font-size: 20px; }
  .formulario {
    width: 75%; }
  input {
    margin: 20px auto 20px auto; }
  textarea {
    margin: 20px auto 20px auto; }
  .boton2 {
    margin: 20px; } }

/*Dispositivos grandes*/
@media (min-width: 768px) {
  input {
    margin: 0px 80px 20px 80px; }
  textarea {
    margin: 0px 100px 20px 100px; } }

main {
  background-color: grey; }
