.cero-accidentes{
    margin-top: 70px;
    width: 100%;
}
.titulo1{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    width: 90%;
    margin: 30px auto 20px auto;
    text-align: center;
    background-color: yellow;
    font-size: small;
    padding: 10px;
}
.como-trabajamos{
    width: 100%;
    padding: 20px 0px 20px 0px;
}
.texto{
    width: 80%;
    margin: 20px auto 20px auto;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    padding: 20px;
    background-color: white;
}
.logo1{
    width: 100%;
}
/*Dispositivos pequeños*/
@media (min-width: 320px){
    .titulo1{
        width: 80%;
        margin: 40px auto 40px auto;
    }
    .logo1{
        height: 200px;
    }
}
/*Dispositivos medianos*/
@media (min-width: 480px){
    .cero-accidentes{
        height: 350px;
    }
    .titulo1{
        font-size: 20px;
    }
    .logo1{
        height: 300px;
    }
}
/*Dispositivos grandes*/
@media (min-width: 768px){
    .cero-accidentes{
        height: 400px;
    }
    .titulo1{
        width: 80%;
        font-size: 30px;
    }
    .como__trabajamostexto{
        font-size: 20px;
    }
}