.img-servicios{
    width: 100%;
    margin-top: 80px;
}
.titulo2{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    width: 90%;
    margin: 20px auto 20px auto;
    text-align: center;
    background-color: yellow;
    font-size: small;
    padding: 10px;
}
.titulo-servicio{
    margin: 20px 20px 0px 20px;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
}
.container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
    "area1"
    "area2"
    "area3"
    "area4"
    "area5"
    "area6";
}
.area1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-style: double;
    border-radius: 10px;
    border-color: black;
    padding: 20px;
    background-color: white;
}
.area2{
    margin-top: 30px;
    text-align: center;
    border-style: double;
    border-radius: 10px;
    border-color: black;
    padding: 20px;
    background-color: white;
}
.area3{
    margin-top: 10px;
    text-align: center;
    border-style: double;
    border-radius: 10px;
    border-color: black;
    padding: 20px;
    background-color: white;
}
.area4{
    margin-top: 10px;
    text-align: center;
    border-style: double;
    border-radius: 10px;
    border-color: black;
    padding: 20px;
    background-color: white;
    .seguridad{
        width: 100%;
    }
}
.area5{
    margin-top: 45px;
    text-align: center;
    border-style: double;
    border-radius: 10px;
    border-color: black;
    padding: 20px;
    background-color: white;
}
.area6{
    margin-top: 45px;
    padding: 20px;
    margin-bottom: 20px;
    height: 300px;
    text-align: center;
    border-style: double;
    border-radius: 10px;
    border-color: black;
    background-color: white;
}
/*Dispositivos pequeños*/
@media (min-width: 320px){
    .titulo2{
        width: 80%;
        margin: 40px auto 40px auto;
    }
    .titulo-servicio{
        width: 50%;
        margin: 20px auto 0px auto;
    }
    .container{
        width: 80%;
    }
}
/*Dispositivos medianos*/
@media (min-width: 480px){
    .titulo2{
        font-size: 20px;
    }
    .titulo-servicio{
        margin-top: 80px;
        font-size: 35px;
    }
    .area6{
        margin-bottom: 40px;
    }
}
/*Dispositivos grandes*/
@media (min-width: 768px){
    .titulo2{
        font-size: 30px;
    }
    .fuego{
        margin-top: 40px;
    }
}